//this is a configuration file for Ratne Igre. Uses libconfig library
// if "*the dot in value is important", this means the value is of floating point type, the dot indicates that to the config parser. You may use real numbers here, not only integers.

#display section

//default display width at which the application starts. Value can't be smaller than default value. [default = 1000], [range 1000+]
default_display_width = 1000;

//default display height at which the application starts. Value can't be smaller than default value. [default = 600], [range 600+]
default_display_height = 600;

//whether particles are enabled or not. Set to 0 to disable. May improve CPU performance slightly, if you are running a potato machine [default = true]
particlesEnabled = true;

//whether vertical sync is enabled. Set to 1 to enable [default = false]
verticalSyncEnabled = false;

//MSAA antialiasing level. Set to 0 to disable. Higher values put more strain on GPU. [default = 2], [range <0 to 3>]
MSAA = 2;

//whether OpenGL backend is used for rendering. Set to false to disable. [default = true]
oglEnabled = true;


#mission UI section

//whether automatic UI scaling should be enabled. UI scaled only in missions. Set to true to enable. [default = true]
autoUIscale = true;

//applies only if automatic UI scaling is disabled. UI scale is set to this value. [default = 1.], [range 0<] *the dot in value is important
UIscale = 1.0;

//zoom limits. Values >1 zooming in, <1 zooming out. One scroll action makes for 0.1 change. Upper limit must be higher than Lower limit. [default = 1.0, 0.8], [range 0<] *the dot in value is important
zoomUpperLimit = 1.0;
zoomLowerLimit = 0.8;

//chose radar mode. 1 for simplified, 2 for advanced radar mode. 0 to disable radar that rotates with jet. [default = 2], [range <0 to 1>]
radarType = 2;

//draw additional, stationary radar. Set to true to enable. [default = false]
additionalRadar = false;



#gameplay section

//how many FPS the game runs at. Directly influences how fast the game runs. [default = 60.], [range 0<] *the dot in value is important
FPS = 60.;

// fadeDistance --> fadingLength -> drawDistance | further behind the jets are not drawn

//distance at which enemy jets render. After crossing this mark, they start fading out. [default = 800.], [range 0+] *the dot in value is important
fadeDistance = 800.;
//length at which the jets fade away after crossing the fadeDistance. fadeDistance + fadingLength = drawDistance of jets. [default = 200.], [range 0+] *the dot in value is important
fadingLength = 200.;

